In [1]:
import numpy as np
import pandas as pd
import sklearn
import scipy.stats 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.preprocessing import Imputer

In [3]:
from fancyimpute import KNN

Using TensorFlow backend.
/Users/poojachoudhary/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [4]:
genetic_train = pd.read_csv("Training_Genetic_Dataset.csv")

In [5]:
genetic_test = pd.read_csv("Test_Genetic_Dataset.csv")

In [7]:
genetic_merge = pd.concat([genetic_train,genetic_test])

In [41]:
genetic_merge.head()

,Hybrid,G1,G2,G3,G4,G5,G6,G7,G8,G9,...,G19456,G19457,G19458,G19459,G19460,G19461,G19462,G19463,G19464,G19465
0,P1000:P2030,0.0,NaN,1.0,NaN,-1.0,NaN,NaN,0.0,1.0,...,1.0,1.0,-1.0,0.0,0.0,1.0,1.0,1.0,NaN,1.0
1,P1001:P2030,1.0,0.0,0.0,1.0,0.0,-1.0,1.0,0.0,1.0,...,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN
2,P1002:P1158,1.0,NaN,NaN,NaN,1.0,1.0,NaN,0.0,1.0,...,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN,1.0,NaN
3,P1002:P2030,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN,1.0,NaN
4,P1003:P1803,0.0,NaN,0.0,NaN,-1.0,NaN,NaN,0.0,1.0,...,1.0,1.0,0.0,0.0,NaN,0.0,0.0,NaN,1.0,1.0

In [18]:
genetic_v2 = genetic_merge.drop('Hybrid', axis=1)
genetic_v2.shape

(2764, 19465)

In [19]:
X_filled_knn = KNN(k=3).complete(genetic_v2)

Imputing row 1/2764 with 5233 missing, elapsed time: 1096.640
Imputing row 101/2764 with 5413 missing, elapsed time: 1110.790
Imputing row 201/2764 with 6146 missing, elapsed time: 1122.836
Imputing row 301/2764 with 5522 missing, elapsed time: 1133.721
Imputing row 401/2764 with 4249 missing, elapsed time: 1148.213
Imputing row 501/2764 with 8140 missing, elapsed time: 1160.870
Imputing row 601/2764 with 11210 missing, elapsed time: 1174.705
Imputing row 701/2764 with 5334 missing, elapsed time: 1185.735
Imputing row 801/2764 with 11938 missing, elapsed time: 1197.998
Imputing row 901/2764 with 8348 missing, elapsed time: 1212.111
Imputing row 1001/2764 with 4680 missing, elapsed time: 1227.652
Imputing row 1101/2764 with 7036 missing, elapsed time: 1240.893
Imputing row 1201/2764 with 5544 missing, elapsed time: 1256.595
Imputing row 1301/2764 with 13698 missing, elapsed time: 1270.039
Imputing row 1401/2764 with 1602 missing, elapsed time: 1282.651
Imputing row 1501/2764 with 6088 missing, elapsed time: 1296.054
Imputing row 1601/2764 with 5592 missing, elapsed time: 1312.799
Imputing row 1701/2764 with 7188 missing, elapsed time: 1326.870
Imputing row 1801/2764 with 2030 missing, elapsed time: 1343.778
Imputing row 1901/2764 with 6240 missing, elapsed time: 1358.924
Imputing row 2001/2764 with 8206 missing, elapsed time: 1374.814
Imputing row 2101/2764 with 7826 missing, elapsed time: 1392.310
Imputing row 2201/2764 with 8159 missing, elapsed time: 1413.020
Imputing row 2301/2764 with 7251 missing, elapsed time: 1431.819
Imputing row 2401/2764 with 6423 missing, elapsed time: 1447.520
Imputing row 2501/2764 with 5678 missing, elapsed time: 1464.328
Imputing row 2601/2764 with 5826 missing, elapsed time: 1480.055
Imputing row 2701/2764 with 6890 missing, elapsed time: 1499.108

In [20]:
X_filled_knn[X_filled_knn>0.5] = 1

X_filled_knn[X_filled_knn<0] = -1

In [34]:
np.shape(X_filled_knn)[0]

2764

In [32]:
for i in range(0,(np.shape(X_filled_knn)[0])):
    for j in range(0,np.shape(X_filled_knn)[1]):
        if(0< X_filled_knn[i][j] <=0.5):
            X_filled_knn[i][j] =0

In [35]:
Genetic_new = pd.DataFrame(X_filled_knn);

In [36]:
from sklearn.decomposition import PCA

In [37]:
pca = PCA(n_components = 500, whiten = True)
x = pca.fit(Genetic_new).transform(Genetic_new )

In [142]:
genetic_pca = pd.DataFrame(x)

In [143]:
df1 = genetic_pca.iloc[:2267, :] #Training 
df2 = genetic_pca.iloc[2267:, :]  #Test

(2267, 500)